<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Like Status</title>
</head>
<body>

    <a href="/bright_ideas">Bright Ideas</a><br>
    <a href="/logout">Logout</a>

    <br>

    <h3>People who liked this post:</h3>
    
    <p>{{idea['alias']}} says: {{idea['idea_content']}}</p>
        
     
    <table>
        <thead>
            <tr>
                <th>Alias:</th>
                <th>Email:</th>
        </thead>
        <tbody>
            {% for user in user_who_have_liked %}
                <tr>
                    <td><a href="">{{user['alias']}}</a></td>
                    <td>{{user['name']}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
</html>